<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Columna de Contacto -->
            <div class="col-md-4">
                <div class="footer-column">
                    <h5>Contacto</h5>
                    <hr>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-envelope-fill"></i> contactostickcode.cl</li>
                        <li><i class="bi bi-telephone-fill"></i> (+56) 9 4448888</li>
                        <li><i class="bi bi-geo-alt-fill"></i> Isla de Maipo - Frutillar, Chile</li>
                    </ul>
                </div>
            </div>

            <!-- Columna de Asistencia -->
            <div class="col-md-4">
                <div class="footer-column">
                    <h5>Asistencia</h5>
                    <hr>
                    <ul class="list-unstyled">
                        <li><a href="#">Centro de ayuda</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Soporte en línea</a></li>
                    </ul>
                </div>
            </div>

            <!-- Columna de Políticas del sitio -->
            <div class="col-md-4">
                <div class="footer-column">
                    <h5>Políticas del sitio</h5>
                    <hr>
                    <ul class="list-unstyled">
                        <li><a href="#">Términos y condiciones</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                        <li><a href="#">Política de cookies</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Apartado de Redes Sociales -->
        <div class="social-media">
            <h5>Síguenos</h5>
            <div class="social-icons">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-twitter" viewBox="0 0 16 16">
                        <path
                            d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15" />
                    </svg> </span>
                <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-twitter" viewBox="0 0 16 16">
                        <path
                            d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15" />
                    </svg> </span>
                <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-twitter" viewBox="0 0 16 16">
                        <path
                            d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15" />
                    </svg> </span>
            </div>
        </div>




        <!-- Pie de página -->
        <div class="footer-bottom">
            <p>&copy; 2025 Stickcode. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>