@font-face {
    font-family: 'Gully CD';
    src: url('Gully-CDLight.woff2') format('woff2'),
        url('Gully-CDLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

