.contact-form-section {
  padding: 50px 0;
}

.contact-form-section .img-fluid {
  border-radius: 8px;
}

.form-group label {
  font-weight: bold;
}

.btn-block {
  margin-top: 20px;
}

.contact-form-section {
  background: -webkit-linear-gradient(90deg,#13151c,#6522eb,#00aafa);
  background: linear-gradient(90deg,#13151c,#6522eb,#00aafa);
}

.formulario {
  justify-content: center;
  margin: 50px;
}

.padding-form {
  padding: 50px;
}

/* Estilo para los campos de texto e input */
input[type="text"],
input[type="email"],
textarea {
  border: none;
  border-bottom: 1px solid #6522eb;
  outline: none;
  background: transparent;
  padding: 6px 0; 
  border-radius: 0; 
  box-shadow: none;
  color: #fff;
  resize: none;
}

/* Estilo para el placeholder */
input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: #999999;
  opacity: 1;
}

textarea:focus {
  background: transparent !important;
  box-shadow: none;
  color: #fff;
  outline: none !important;
  border-bottom: 1px solid #6522eb; /* Reafirmamos el borde */
}