<section class="contact-form-section text-white">
  <div class="container formulario">
    <div class="row justify-content-center">
      <!-- Columna para el formulario -->
      <div class="col-lg-5 col-md-6 col-12 p-4">
        <h1 class="text-center mb-4">Contáctanos</h1>
        <form>          

          <div class="form-group mb-3">
            <input type="text" class="form-control" id="nombre" placeholder="Nombre" spellcheck="false" required autocomplete="off">
          </div>

          <div class="form-group mb-3">
            <input type="text" class="form-control" id="apellido" placeholder="Apellido" spellcheck="false" required autocomplete="off">
          </div>

          <div class="form-group mb-3">
            <input type="email" class="form-control" id="correo" placeholder="Email" required spellcheck="false" maxlength="60" autocomplete="off">
          </div>

          <div class="form-group mb-3">
            <input type="text" class="form-control" id="telefono" placeholder="Teléfono" required spellcheck="false" maxlength="12" autocomplete="off">
          </div>

          <div class="form-group mb-3">
            <textarea class="form-control" id="mensaje" rows="4" placeholder="Escribe tu mensaje" required spellcheck="false" maxlength="200" autocomplete="off"></textarea>
          </div>

          <button type="submit" class="btn btn-primary w-100">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</section>