.cursor {
    display: inline-block;
    color: var(--light-color); // o el color que quieras para el cursor
    font-weight: bold;
    animation: blink 1s step-start infinite;
  }
  
  // Animación del parpadeo
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  


@media (max-width: 767px) {
    .header img {
      display: none;
    }
  }
  



  